# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next
/dist
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

out
static-builds
temp-builds

.cursorrules

# Claude Code
.claude/
.docs/

# Lighthouse test files
lighthouse-*.json

public/images/
# Sentry Config File
.env.sentry-build-plugin
